#alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  color: white;
}

#alert-content button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.alert-success {
  background-color: #00cf79;
  border-left: 5px solid #00512f;
}


.alert-error {
  background-color: #cd0000;
  border-left: 5px solid #4f0000;
}

@media (max-width: 820px) {
  #alert-content {
    margin: 10px;
  }
}